{% extends 'registration/base.html' %}
{% block form %}
<form action=" " method="post">
    {% csrf_token %}
    <div class="sign-up">
        <div class="sign-up-img"></div>
        <div class="sign-up-form">
            <h1>Log in to get started</h1>
            <p>Please enter the following information to access your account.</p>
            <div class="row">
                <input type="text" name="username" autofocus="" required="" id="id_username"
                       placeholder="Email address...">
                <span class="error">{{ form.non_field_errors }}</span>
            </div>
            <div class="row">

                <input type="password" name="password" required="" id="id_password" placeholder="Password...">
                {{ form.password.errors }}

            </div>

            <div class="row btnWrapper">
                <button class="joinBtn" onclick="saveToken()">Continue to account</button>
                <button class="loginBtn" onclick="javascript:location.href='{% url 'account:signup' %}'">Create an
                    account
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block customscript %}
<script>



</script>
{% endblock %}